@keyframes ninjawiggle {

    0%,
    100%{
        transform: translateX(0);
    }

    25%{
        transform: translateX(-2px);
    }

    75%{
        transform: translateX(2px);
    }
}

*{
    box-sizing: border-box;
    text-decoration: none;
    outline: none !important;
}

body{
    margin: 0;
    padding: 15px;
    text-align: center;
    font-family: "Questrial", sans-serif;
    font-size: 16px;
    line-height: 1.618em;
    background-color: #eceff1;
    color: #424242;
}

button{
    font-family: inherit;
    cursor: pointer;
    transition: .25s;
}

.splash{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 250;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #eceff1;
    box-shadow: 0 5px 50px #aaa;
}

.splash .center{
    width: 100%;
    margin: auto;
    padding: 165px 15px 15px;
    background: url('../images/favicon.png') center top no-repeat;
    background-size: 180px;
}

.splash .center h1{
    margin: 0 0 20px;
    font-family: "Sigmar One", cursive;
    font-size: 3em;
    font-weight: normal;
    color: #7879b9;
    -webkit-text-stroke: 2px #4a5f6c;
}

.splash .center button{
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 1.25em;
    line-height: 1em;
    background: #7879b9;
    color: #fff;
    border: none;
    border-radius: 50px;
    box-shadow: 0 8px 0 #6869a1;
}

.splash .center button:active{
    transform: translateY(8px);
    box-shadow: none;
}

.block{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #eceff1;
}

.block span{
    margin: auto;
    padding: 30px;
}

#ninja-ken{
    display: inline-block;
    width: 100%;
    height: 280px;
    background-image: url("../images/ken.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.goyang{
    animation: ninjawiggle .75s infinite;
}